---
---

<div id="navLinks" class="text-blue-600 underline w-full top-5 left-4 [&_a]:block [&_a]:hover:text-white md:bg-amber-950 hidden md:block">
  <h2><a href="/">HOME</a></h2>
  <h2><a href="/about/">ABOUT</a></h2>
	<h2><a href="/blog/">BLOG</a></h2>
	<h2><a href="/tags/">TAGS</a></h2>
</div>